doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title Home | ACCESSORIES
    |     
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    |     
    link(href='../css/font-awesome.min.css', rel='stylesheet')
    |     
    link(href='../css/main.css', rel='stylesheet')
    |     
    link(rel='stylesheet', href='../css/animate.min.css')
    |     
    script(src='js/wow.min.js')
    |     
    script.
      new WOW().init();
body
    .bg-gris
        .contenedor.row
            .col-md-6.text-left.pad-10
                p Default Welcome Msg!
            .col-md-6.text-right.pad-10
                ul
                    li.menui
                        img(src='../images/flag1.png')
                        p.inline Lenguage
                        i.fa.fa-angle-down(aria-hidden='true')
                    li.menui
                        i.fa.fa-usd(aria-hidden='true')
                        p.inline Currency
                        i.fa.fa-angle-down(aria-hidden='true')
                    li.menui
                        i.fa.fa-user(aria-hidden='true')
                        p.inline My Account
                        i.fa.fa-angle-down(aria-hidden='true')
    .contenedor.row
        .col-md-4
            i.fa.fa-clock-o(aria-hidden='true')
            h3 OPENING TIME
            h5 9:00 AM - 10:00PM
        .col-md-4.text-center
            img(src='../images/logo.png')

        .col-md-4.text-right
            input(type='text', placeholder='search')
            i.fa.fa-search(aria-hidden='true')
    .bg-gris
        .contenedor.row
            .col-md-6.menu
                ul
                    li: a(href='#home') HOME
                    li: a(href='#contact') CONTACT US
            .col-md-6.carro.text-right
                i.fa.fa-shopping-cart(aria-hidden='true')
                   p  My Cart
                   p 2 item(s)-$44.00
    .slider.relative
        .text-center.text-slider.absolute
           p AUTUMN/WINTER LOOKBOOK
        p -  2 0 1 6  C O L E C T I O N  - 
    .contenedor
        .row
            .col-md-4.bg-acce

            .col-md-8.bg-new
        .row.contenedor
            i.fa.fa-angle-left(aria-hidden='true')
            ul
                li LATEST
                li BESTSELLER
                li SALE
            i.fa.fa-angle-right(aria-hidden='true')
        .row
            ul
                li.border
                    img(src='../images/a1.jpg')
                    .new-label
                    p Deliver Wide
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-o(aria-hidden='true')
                    i.fa.fa-star-o(aria-hidden='true')
                    p $218.00
                li.border
                    img(src='../images/b1.jpg')
                    .new-label
                    .sale-label
                    p Deliver Wide
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-o(aria-hidden='true')
                    i.fa.fa-star-o(aria-hidden='true')
                    p $242.00 $218.00
                li.border
                    img(src='../images/c1.jpg')
                    .sale-label
                    p Deliver Wide
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-o(aria-hidden='true')
                    i.fa.fa-star-o(aria-hidden='true')
                    p $242.00 $218.00
                li.border
                    img(src='../images/d1.jpg')
                    .new-label
                    p Deliver Wide
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-o(aria-hidden='true')
                    i.fa.fa-star-o(aria-hidden='true')
                    p $218.00
    .bg-client
        ul.contenedor
            li
                img(src='../images/client1.jpg')
            li
                img(src='../images/client2.jpg')
            li
                img(src='../images/client3.jpg')
            li
                img(src='../images/client4.jpg')
            li
                img(src='../images/client5.jpg')
            li
                img(src='../images/client6.jpg')
    .row.contenedor
            i.fa.fa-angle-left(aria-hidden='true')
            ul
                li CLOTHING
                li EQUIOMENTS
                li JEWELLERY
            i.fa.fa-angle-right(aria-hidden='true')































            //- <script type="text/javascript" src="js/jquery.js"></script>
            //- <script type="text/javascript" src="js/bootstrap.min.js"></script>
    ul
        li.border
            img(src='../images/d1.jpg')
            .new-label
            .sale-label
            p Deliver Wide
            p $218.00
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star-o(aria-hidden='true')
            i.fa.fa-star-o(aria-hidden='true')
            buton()
            
        