doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title Home | ACCESSORIES
    |     
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    |     
    link(href='../css/font-awesome.min.css', rel='stylesheet')
    |     
    link(href='../css/main.css', rel='stylesheet')
    |     
    link(rel='stylesheet', href='../css/animate.min.css')
    |     
    script(src='js/wow.min.js')
    |     
    script.
      new WOW().init();
body
    .bg-gris
        .contenedor.row
            .col-md-6.text-left.pad-10
                p Default Welcome Msg!
            .col-md-6.text-right.pad-10
                ul
                    li.menui
                        img(src='../images/flag1.png')
                        p.inline Lenguage
                        i.fa.fa-angle-down(aria-hidden='true')
                    li.menui
                        i.fa.fa-usd(aria-hidden='true')
                        p.inline Currency
                        i.fa.fa-angle-down(aria-hidden='true')
                    li.menui
                        i.fa.fa-user(aria-hidden='true')
                        p.inline My Account
                        i.fa.fa-angle-down(aria-hidden='true')
            .contenedor.row
                .col-md-4
                    .row
                        .col-md-1
                            i.fa.fa-clock-o(aria-hidden='true')
                        .col-md-11
                            h3 OPENING TIME
                            h5 9:00 AM - 10:00PM
                .col-md-4-text-center
                    img()

                .col-md-4


            //- <script type="text/javascript" src="js/jquery.js"></script>
            //- <script type="text/javascript" src="js/bootstrap.min.js"></script>
        